/* Button 1 */
.btn{
display: flex;
/* background-color: #EB2127; */
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 20px;
padding: 14px 40px;
border-radius: 12px;
border: none;
color: white;
margin: 10px;
}
.btn.red {
    background-color: #EB2127;
}
/* Button 2 */
.btn.hollow:hover {
    background-color: transparent;
    color:  #EB2127;
    

}
/* Button 3 */
.btn.shadow:active {
background-color: #9f161b;
}

.btn.blue {
    background-color: lightskyblue;
}
.btn.hollow.blue:hover {
    background-color: transparent;
    color: skyblue;
    
}
.btn.shadow.blue:active {
    background-color: rgb(98, 150, 171);
}